---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/user/repos
    body:
      encoding: UTF-8
      string: '{"name":"Sample"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token a7b41a71c5903582f1e2e6d61cfc0fbd6130a12b
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1490111029'
      Etag:
      - '"24583c41eb83863f3b83f35e6fb31755"'
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - public_repo, repo
      X-Oauth-Client-Id:
      - d622db2196e224192a02
      Location:
      - https://api.github.com/repos/fi1446/Sample
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":85714921,"name":"Sample","full_name":"fi1446/Sample","owner":{"login":"fi1446","id":13846808,"avatar_url":"https://avatars0.githubusercontent.com/u/13846808?v=3","gravatar_id":"","url":"https://api.github.com/users/fi1446","html_url":"https://github.com/fi1446","followers_url":"https://api.github.com/users/fi1446/followers","following_url":"https://api.github.com/users/fi1446/following{/other_user}","gists_url":"https://api.github.com/users/fi1446/gists{/gist_id}","starred_url":"https://api.github.com/users/fi1446/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/fi1446/subscriptions","organizations_url":"https://api.github.com/users/fi1446/orgs","repos_url":"https://api.github.com/users/fi1446/repos","events_url":"https://api.github.com/users/fi1446/events{/privacy}","received_events_url":"https://api.github.com/users/fi1446/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/fi1446/Sample","description":null,"fork":false,"url":"https://api.github.com/repos/fi1446/Sample","forks_url":"https://api.github.com/repos/fi1446/Sample/forks","keys_url":"https://api.github.com/repos/fi1446/Sample/keys{/key_id}","collaborators_url":"https://api.github.com/repos/fi1446/Sample/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/fi1446/Sample/teams","hooks_url":"https://api.github.com/repos/fi1446/Sample/hooks","issue_events_url":"https://api.github.com/repos/fi1446/Sample/issues/events{/number}","events_url":"https://api.github.com/repos/fi1446/Sample/events","assignees_url":"https://api.github.com/repos/fi1446/Sample/assignees{/user}","branches_url":"https://api.github.com/repos/fi1446/Sample/branches{/branch}","tags_url":"https://api.github.com/repos/fi1446/Sample/tags","blobs_url":"https://api.github.com/repos/fi1446/Sample/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/fi1446/Sample/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/fi1446/Sample/git/refs{/sha}","trees_url":"https://api.github.com/repos/fi1446/Sample/git/trees{/sha}","statuses_url":"https://api.github.com/repos/fi1446/Sample/statuses/{sha}","languages_url":"https://api.github.com/repos/fi1446/Sample/languages","stargazers_url":"https://api.github.com/repos/fi1446/Sample/stargazers","contributors_url":"https://api.github.com/repos/fi1446/Sample/contributors","subscribers_url":"https://api.github.com/repos/fi1446/Sample/subscribers","subscription_url":"https://api.github.com/repos/fi1446/Sample/subscription","commits_url":"https://api.github.com/repos/fi1446/Sample/commits{/sha}","git_commits_url":"https://api.github.com/repos/fi1446/Sample/git/commits{/sha}","comments_url":"https://api.github.com/repos/fi1446/Sample/comments{/number}","issue_comment_url":"https://api.github.com/repos/fi1446/Sample/issues/comments{/number}","contents_url":"https://api.github.com/repos/fi1446/Sample/contents/{+path}","compare_url":"https://api.github.com/repos/fi1446/Sample/compare/{base}...{head}","merges_url":"https://api.github.com/repos/fi1446/Sample/merges","archive_url":"https://api.github.com/repos/fi1446/Sample/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/fi1446/Sample/downloads","issues_url":"https://api.github.com/repos/fi1446/Sample/issues{/number}","pulls_url":"https://api.github.com/repos/fi1446/Sample/pulls{/number}","milestones_url":"https://api.github.com/repos/fi1446/Sample/milestones{/number}","notifications_url":"https://api.github.com/repos/fi1446/Sample/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/fi1446/Sample/labels{/name}","releases_url":"https://api.github.com/repos/fi1446/Sample/releases{/id}","deployments_url":"https://api.github.com/repos/fi1446/Sample/deployments","created_at":"2017-03-21T14:53:59Z","updated_at":"2017-03-21T14:53:59Z","pushed_at":"2017-03-21T14:53:59Z","git_url":"git://github.com/fi1446/Sample.git","ssh_url":"git@github.com:fi1446/Sample.git","clone_url":"https://github.com/fi1446/Sample.git","svn_url":"https://github.com/fi1446/Sample","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":0,"subscribers_count":1}'
  recorded_at: Tue, 21 Mar 2017 14:54:00 GMT
recorded_with: VCR 3.0.3
